<!DOCTYPE html>

<html>
    <head>
        <title>Contact Us</title>
        <link rel="icon" href="/img/stocksLogo.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/botUntitled.png">
            <p id="name"> 01000010 01110010 01111001 01100001 01101110 00100000 01001111 00100111 01000100 01101111 01101110 01101111 01100111 01101000 01110101 01100101 00001010</p>
            <a id="email" href="bryan.odonoghue@cdw.com">01100010 01110010 01111001 01100001 01101110 00101110 01101111 01100100 01101111 01101110 01101111 01100111 01101000 01110101 01100101 01000000 01100011 01100100 01110111 00101110 01100011 01101111 01101101</a>
            <p id="phoneNumber">00101000 00110010 00110000 00110110 00101001 00100000 00111000 00110110 00110111 00101101 00110101 00110011 00110000 00111001</p>

            <form>
                 <button id="translator">In English, please!</button>
            </form>

            </div>
            {{>footer}}
            <script src="/js/app.js"></script>
        </body>
    </head>
</html>