<!DOCTYPE html>

<html>
    <head>
        <title>Recommendations</title>
        <link rel="icon" href="/img/stocksLogo.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
            {{>header}}
            <h2>My top stock recommendation:</h2>
            <img class="stockRecommend" src="/img/blackstone.webp" alt="Blackstone Group Logo">
            <h3> From Wikipedia:</h3>
            <p>Blackstone Inc. is an American alternative investment management company based in New York City. 
               Blackstone's private equity business has been one of the largest investors in leveraged buyouts in the last three decades, 
               while its real estate business has actively acquired commercial real estate. </p>
               
            <p>Blackstone is also active in credit, infrastructure,
               hedge funds, insurance, secondaries, and growth equity. As of Q3 2022, the company's total assets under management were approximately 
               US$951 billion, making it the largest alternative investment firm globally.</p>
            <h3> Why I picked it:</h3>
            <p>While The Fed continues to attempt to curb inflation, interest rate hikes have been the primary tool utilized. Taking into account a trend of deglobalization post-pandemic, 
                and the war in Eastern Europe, we can predict that inflation will continue to rise a a sharp rate in the next decade. With these two factors in mind, real estate prices 
                will most likely increase in the mid-long term. </p>

            </div>
            {{>footer}}
        </body>
    </head>
</html>